name: Keep Render Awake
on:
  schedule:
    - cron: '*/10 * * * *' # каждые 10 минут
jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping site
        run: curl -I https://geography-ddh1.onrender.com
